.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.search-button {
  cursor: pointer;
  border-radius: 6px;
  background-color: #d1d2d6;
}

/* Style the search field */
.search-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  border-radius: 5PX;
  background: #f1f1f1;
}


/* Style the click button */
.search-form button {
  float: left;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-radius: 4PX;
  cursor: pointer;

}

.search-form button:hover {
  background: #0b7dda;
}


.dark-mode {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  border:2px solid;
  border-radius:100px;
  width:70px;
  height:30px;
  text-align: center;
  cursor: default;
 }
 
 
 
 
 